.shareContainer {
  position: absolute;
  z-index: 3;
  bottom: 100px;
  right: 10%;
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(160px);
  }
  to {
    transform: translateY(0px);
  }
}
